body {
    background-image: url("https://media.discordapp.net/attachments/1015035818643038280/1020102878611906681/notebook-paper-background-design-template-c114c2ed2104bd8b815cf7fbb2f34f44_screen.jpeg");
    text-align: center;
    margin: $size*2;
}